<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymleaf-extras-springsecurity5">
<head>
    <title th:utext="${title}"></title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>User Account</h1>

<form th:action="@{'/user/' + ${userDetails.id}}" th:object="${userDetails}" method="POST">
    <table border="1" class = "table table-striped table-responsive-md">
        <input type="hidden" th:value="${userDetails.password}" >
        <tr>
            <td>ID</td>
            <td><input type="text" th:field="${userDetails.id}" readonly></td>
        </tr>
        <tr>
            <td>User Name</td>
            <td><input type="text" th:field="${userDetails.username}" readonly></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td><input type="text" th:field="${userDetails.firstName}" readonly></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" th:field="${userDetails.lastName}" readonly></td>
        </tr>
        <tr>
            <td>Status</td>
            <td sec:authorize="hasAuthority('USER')" th:text="${userDetails.status}"></td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <select th:field="*{status}" >
                    <option value="ACTIVE">UNLOCK</option>
                    <option value="INACTIVE">LOCK</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Role</td>
            <td><input type="text" th:field="${userDetails.roleName}" readonly>
            </td>
        </tr>
        <tr>
            <td>Created At</td>
            <td><input type="text" th:field="${userDetails.createdAt}" readonly></td>
        </tr>
        <tr>
            <td>
                <input sec:authorize="hasAuthority('ADMIN')" type="submit" value="Update account status" />
                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/user}">Cancel</a>
            </td>
        </tr>
    </table>
</form>
</div>
</body>
</html>