<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title th:utext="${title}"></title>
</head>
<body>
<div>
<h2>Edit User account</h2>

<form th:action="@{'/user/' + ${userAccountEdit.id} + '/edit'}" th:object="${userAccountEdit}" method="POST">
    <table>

        <tr>
            <td>User Name</td>
            <td><input type="text" th:field="*{username}" /></td>
            <td>
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">..</span>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{password}" /> </td>
            <td>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">..</span>
            </td>
        </tr>
        <td>First Name</td>
        <td><input type="text" th:field="*{firstName}" /> </td>
        <td>
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">..</span>
        </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" th:field="*{lastName}" /> </td>
            <td>
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">..</span>
            </td>
        </tr>
        <tr>
            <td>Role</td>
            <td>
                <select th:field="*{roleId}">
                    <option value="1">ADMIN</option>
                    <option value="2">USER</option>
                </select>
            </td>
            <td>
                <span th:if="${#fields.hasErrors('roleId')}" th:errors="*{roleId}">..</span>
            </td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                <select th:field="*{status}">
                    <option value="ACTIVE">UNLOCK</option>
                    <option value="INACTIVE">LOCK</option>
                </select>
            <td><span th:if="${#fields.hasErrors('status')}" th:errors="*{status}">..</span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Update user account" />
                <a th:href="@{/user}">Cancel</a>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</form>
</div>
</body>
</html>