<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:utext="${title}"></title>
</head>
<style>
    table th, table td {
        padding: 5px;
    }
    .message {
        color: blue;
    }
</style>

<body>
<div align="center">

<th:block th:include="/_menu"></th:block>

<h2>Registered Users</h2>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Status</th>
        <th>Role</th>

        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each ="user : ${users}">
        <!--/*@thymesVar id="username" type=""*/-->
        <td th:text="${user.id}">...</td>
        <td th:text="${user.username}">...</td>
        <td th:text="${user.firstName}">...</td>
        <td th:text="${user.lastName}">...</td>
        <td th:text="${user.status}">...</td>
        <td th:text="${user.role}">...</td>
        <td>
            <a th:href ="@{'/user/' + ${user.id} + '/edit'}">Edit</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a th:href ="@{'/user/' + ${user.id} + '/delete'}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>